* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: none;

}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  font-family: sans-serif;
  color: white;
}

.location,
.temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temperature {
  flex-direction: column;
}

.degree-section {
  display: flex;
  align-items: center;
}

.degree-section span {
  margin: 10px;
  font-size: 30px;
  cursor: pointer;
}

.degree-section h2 {
  font-size: 30px;
}

.temperature-degree {}

.temperature-descirption {}